body {
	margin: 0;
	background-color:hsl(261, 18%, 15%);
	color: white;
	overflow: hidden;
	font: 20px Arial;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#control {
	position: absolute;
	right: 25px;
	top: 25px;
	padding: 20px 30px;
	border-radius: 10px;
	background-color: #0008;
	text-align: center;
	user-select: none;
}

button {
	font-size: 20px;
	padding: 8px;
	background-color: #0008;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	margin: 2px;
	cursor: pointer;
}

.errors {
	color: rgb(248, 79, 32);
}

#equations {
	display: grid;
	text-align: center;
	grid-template-columns: 90px 30px 90px 30px 90px 30px 90px 30px 90px 90px auto;
}

#lwe2-body {
	font-size: 30px;
}